.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  width: 30px;
  height: 30px;
  justify-content: center;
}

@media (width <= 768px) {
  .burger {
    display: flex;
  }
}

.burger__line {
  width: 100%;
  height: 2px;
  background-color: var(--text-color);
  transition: all var(--transition-time);
}

.burger--active .burger__line:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.burger--active .burger__line:nth-child(2) {
  opacity: 0;
}

.burger--active .burger__line:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}
