* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  min-height: 100vh;
}

form {
  border: 5px solid rgb(0, 0, 0);
  padding: 30px;
  max-width: 400px;
  width: 100%;
  border-radius: 6%;
  background-color: rgba(244, 168, 101, 0.219);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

legend {
  margin-bottom: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
  text-decoration: underline;
  width: 100%;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.input,
.textarea {
  resize: vertical;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 100%;
  margin-bottom: 10px;
}

.label-checkbox {
  padding-left: 22px;
}
#checkbox {
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  accent-color: rgb(0, 0, 0);
  position: absolute;
  appearance: none;
  outline: none;
}

.checkbox::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  margin-left: -22px;
  border: 1px solid #333;
  border-radius: 4px;
  cursor: pointer;
}

#checkbox:checked::after {
  background:
    url(check-icon.svg),
    no-repeat center #333;
}
button {
  border: none;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 6px;
  background-color: rgb(40, 173, 96);
  color: aliceblue;
  border-radius: 6px;
  transition: opacity 0.2s;
}

button:hover {
  opacity: 0.9;
}

button:active {
  background-color: rgb(40, 173, 96);
}

.input:focus-visible,
.textarea:focus-visible,
#checkbox:focus-visible::after {
  outline: 2px solid rgb(0, 0, 0);
  outline-offset: 1px;
}
